<p>new-product works!</p>

<div class="d-flex flex-column pt-7">
  <div class="de-flex flex-wrap flex-column">
    <div class="container-fluid">
      <div class="d-flex flex-column">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-end mb-5">
            <h1>Add new product</h1>
            <a
              class="btn btn-outline-primary float-end"
              href="../sign-in/sign-in.component.html"
              >Back</a
            >
          </div>

          <div class="card">
            <div class="card-body">
              <form action="">
                <div class="row">
                  <div class="col-lg-12 mb-4">
                    <label class="form-label" for=""
                      >Please insert your activation code:</label
                    >
                    <span class="required"></span>
                    <div class="d-sm-flex">
                      <input
                        class="form-control ms-1"
                        placeholder="Please insert your activation code with out /"
                        name=""
                        type="text"
                        id=""
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <label class="form-label" for="">Product Name:</label>
                    <span class="required"></span>
                    <input
                      class="form-control ms-1"
                      placeholder="Enter product Name"
                      required=""
                      name="name"
                      type="text"
                      value=""
                      id="name"
                    />
                  </div>

                  <div class="col-lg-6 mb-5">
                    <label for="occupation" class="form-label"
                      >Job Title:</label
                    >
                    <input
                      class="form-control"
                      placeholder="Enter Occupation"
                      name="occupation"
                      type="text"
                      id="occupation"
                    />
                  </div>

                  <div class="col-lg-6 ">
                    <label for="description" class="form-label"
                      >Description:</label
                    >
                    <div class="card">
                      <p-editor [(ngModel)]="place" [style]="{ height: '200px' }">
                          <ng-template pTemplate="header">
                              <span class="ql-formats">
                                <select class="ql-size">
                                  <option value="small"></option>
                                  <option selected></option>
                                  <option value="large"></option>
                                  <option value="huge"></option>
                                </select>
                                  <button type="button" class="ql-bold" aria-label="Bold"></button>
                                  <button type="button" class="ql-italic" aria-label="Italic"></button>
                                  <button type="button" class="ql-underline" aria-label="Underline"></button>
                              </span>
                          </ng-template>
                      </p-editor>
                    </div>
                  </div>


                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<pre>
















</pre>
















