

/*  */

.form-wid{
  font-family: Poppins,Helvetica,sans-serif;
  max-width:540px ;
  box-shadow: 0 5px 20px rgba(173, 181, 189, .2);
  border-radius: .938rem;
}
.required::after{
  color: #f62947;
  content: "*";
  font-weight: 700;
  position: relative;
}
